body {
    font-family: "Century Gothic", sans-serif;
    font-size: 14pt;
    margin: 0px;
}

a {
    color: midnightblue;
    text-decoration: none;
}

a:hover {
    color: orange;
}

.footer-block {
    height: 200px;
    width: 100%;
}

.focus {
    color: orange;
}

.main-title {
    display: flex;
    justify-content: center;
    font-size: 24pt;
}