<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>Факультеты</title>
        <link rel="stylesheet" href="/style/style.css">
        <link rel="stylesheet" href="/style/header.css">
        <link rel="stylesheet" href="/style/faculty.css">
    </head>
    <body>
        <div class="top-nav">
            {{ if cookie == null }}
                <a href=login.html>Войти</a>
                <a href=signup.html>Зарегистрироваться</a>
            {{ endif }}</div>
        <div class=header>
            <div class=header-part>
                <a href=schedule.html>Расписание</a>
                <a href=teachers.html>Преподаватели</a>
            </div>
            <a class=logo-div href="/"></a>
            <div class=header-part>
                <a class="focus" href=/faculties/list>Факультеты</a>
                <a href=/personal/account>Личный кабинет</a>
            </div>
        </div>
        <div class=faculty-page>
            <div class="main-title">Факультеты</div>
            <div class="faculties">
                {{ Part }}
            </div>
        </div>
    </body>
</html>