<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>Университет</title>
        <link rel="stylesheet" href="style/style.css">
        <link rel="stylesheet" href="style/header.css">
    </head>
    <body>
        <div class=top-nav>
            <a href=login.html>Войти</a>
            <a href=signup.html>Зарегистрироваться</a>
        </div>
        <div class=header>
            <div class=header-part>
                <a href=schedule.html>Расписание</a>
                <a href=teachers.html>Преподаватели</a>
            </div>
            <a class=logo-div href="index.html"></a>
            <div class=header-part>
                <a href=faculty.html>Факультеты</a>
                <a href=account.html>Личный кабинет</a>
            </div>
        </div>
    </body>
</html>