<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>Университет</title>
        <link rel="stylesheet" href="/style/style.css">
        <link rel="stylesheet" href="/style/header.css">
    </head>
    <body>
        <div class=top-nav>
            {{ if cookie == null }}
                <a href=login.html>Войти</a>
                <a href=signup.html>Зарегистрироваться</a>
            {{ endif }}
        </div>
        <div class=header>
            <div class=header-part>
                <a href=schedule.html>Расписание</a>
                <a href=/teachers/list>Преподаватели</a>
            </div>
            <a class=logo-div href="../">
                <image src="image/logo.png"></image>
            </a>
            <div class=header-part>
                <a href=/faculties/list>Факультеты</a>
                <a href=/personal/account>Личный кабинет</a>
            </div>
        </div>
        <div class="big-title">Университет</div>
    </body>
</html>