<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>Войти</title>
        <link rel="stylesheet" href="style/style.css">
        <link rel="stylesheet" href="style/header.css">
        <link rel="stylesheet" href="style/form.css">
        <script src="scripts/onSubmitLogin.js"></script>
    </head>
    <body>
        <div class="top-nav"></div>
        <div class=header>
            <div class=header-part>
                <a href=schedule.html>Расписание</a>
                <a href=teachers.html>Преподаватели</a>
            </div>
            <a class=logo-div href="../"></a>
            <div class=header-part>
                <a href=faculty.html>Факультеты</a>
                <a href=account.html>Личный кабинет</a>
            </div>
        </div>
        <div class="form-container">
            <form class="form" name="Login" onsubmit="return false;">
                <div class="form-title">Войти</div>
                <div id="warning">Неправильный пароль или логин</div>
                <div class="form-item">
                    <div class="title">Почта</div>
                    <input type="email" class="form-input" autofocus name="Email" pattern="^.+@.+\..+[a-z]{1,4}$" title="Неверный формат почты" required>
                </div>
                <div class="form-item">
                    <div class="title">Пароль</div>
                    <input type="password" class="form-input" autofocus name="Password" required>
                </div>
                <div class="checkbox-item">
                    <input type="checkbox" class="checkbox" id="remember" autofocus name="isRemember">
                    <div class="checkbox-title">Запомнить меня</div>
                </div>
                <div class="form-btn">
                    <button class="submit-btn" type="submit" onclick="onSubmitLogin();">Войти</button>
                </div>
            </form>
            <a href="signup.html">Создать аккаунт</a>
        </div>
    </body>
</html>