<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>Регистрация</title>
        <link rel="stylesheet" href="/style/style.css">
        <link rel="stylesheet" href="/style/header.css">
        <link rel="stylesheet" href="/style/form.css">
        <script src="scripts/validatePassword.js"></script>
        <script src="scripts/onSubmitSignup.js"></script>
    </head>
    <body>
        <div class="top-nav"></div>
        <div class=header>
            <div class=header-part>
                <a href=schedule.html>Расписание</a>
                <a href=teachers.html>Преподаватели</a>
            </div>
            <a class=logo-div href="../"></a>
            <div class=header-part>
                <a href=faculty.html>Факультеты</a>
                <a href=/personal/account>Личный кабинет</a>
            </div>
        </div>
        <div class="form-container">
            <form class="form" name="signUpForm" onsubmit="return false;">
                <div class="form-title">Регистрация</div>
                <div id="warning">Пользователь с такой почтой<br>уже существует</div>
                <div class="form-item">
                    <div class="title">Имя *</div>
                    <input type="name" class="form-input" pattern="^[A-Za-z]+|[А-Яа-яЁё]+$" title="Только буквы" autofocus name="Firstname" required>
                </div>
                <div class="form-item">
                    <div class="title">Фамилия *</div>
                    <input type="text" class="form-input" pattern="^[A-Za-z]+|[А-Яа-яЁё]+$" title="Только буквы" autofocus name="Lastname" required>
                </div>
                <div class="form-item">
                    <div class="title">Отчество (при наличии)</div>
                    <input type="text" class="form-input" pattern="^[A-Za-z]+|[А-Яа-яЁё]+$" title="Только буквы" autofocus name="Patronymic">
                </div>
                <div class="form-item">
                    <div class="title">Почта *</div>
                    <input type="email" class="form-input" autofocus name="Email" pattern="^.+@.+\..+[a-z]{1,4}$" title="Неверный формат почты" required>
                </div>
                <div class="form-item">
                    <div class="title">Пароль *</div>
                    <input type="password" class="form-input" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$" title="Пароль должен содержать хотя бы одну заглавную букву A-Z, хотя бы одну строчную букву a-z, хотя бы одну цифру 0-9 и быть длиной не менее 8 символов" autofocus name="Password" onchange="validatePassword();" required>
                </div>
                <div class="form-item">
                    <div class="title">Повторить пароль *</div>
                    <input type="password" class="form-input" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$" title="Пароль должен содержать хотя бы одну заглавную букву A-Z, хотя бы одну строчную букву a-z, хотя бы одну цифру 0-9 и быть длиной не менее 8 символов" autofocus name="RepeatPassword" onchange="validatePassword();" required>
                </div>
                <div id="msg">Пароли не совпадают</div>
                <div class="form-item">
                    <div class="title">Дата рождения *</div>
                    <input type="date" class="form-input" min="1925-01-01" max="2005-01-01" autofocus name="BirthDate" required>
                </div>
                <div class="select-item">
                    <div class="select-title">Пол</div>
                    <select autofocus name="Gender" required>
                        <option value="m">Мужской</option>
                        <option value="f">Женский</option>
                    </select>
                </div>
                <div class="form-btn">
                    <button class="submit-btn" type="submit" onclick="onSubmitSignup();">Создать</button>
                </div>
            </form>
            <a href="login.html">Войти в аккаунт</a>
            <div class="footer-block"></div>
        </div>
    </body>
</html>