<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>Регистрация</title>
        <link rel="stylesheet" href="/style/style.css">
        <link rel="stylesheet" href="/style/header.css">
        <link rel="stylesheet" href="/style/account.css">
    </head>
    <body>
        <div class="top-nav"></div>
        <div class=header>
            <div class=header-part>
                <a href=schedule.html>Расписание</a>
                <a href=/teachers/list>Преподаватели</a>
            </div>
            <a class=logo-div href="/">
                <image src="image/logo.png"></image>
            </a>
            <div class=header-part>
                <a href=/faculties/list>Факультеты</a>
                <a href=/personal/account>Личный кабинет</a>
            </div>
        </div>
        <div class=account>
            <div class=main-title>Информация по преподавателю</div>
            <div class=account-info>
                <div class="name column">
                    <div>Имя:</div>
                    <div>Фамилия:</div>
                    <div>Отчество:</div>
                    <div>Ученая степень:</div>
                    <div>Предмет:</div>
                </div>
                <div class=column>
                    <div>{{ Teacher.Firstname }}</div>
                    <div>{{ Teacher.Lastname }}</div>
                    <div>{{ Teacher.Patronymic }}</div>
                    <div>{{ Teacher.AcademicDegree }}</div>
                    <div>{{ Subject.Name }}</div>
                </div>
                <div class=edit-btn>
                    <a href="/teachers/list">Назад</a>
                </div>
            </div>
        </div> 
    </body>
</html>